* {
    border:1px solid red;
}

*{
    padding:0;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --red:e50196;
    --bkgrd-color:#221f1f;
}

body {
    background-color: black;
    color: aliceblue;
}

h1 {
    color: red;
    font-family: "roboto", san-serrif;
    font-size: 2rem;
}

.slider-container {
    width: 100%;
    height: 50vh;
    background-image: ;
    background-size: contain;
    background-repeat: center;
}

.slider-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba (0, 0, 0, 7);
}